.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
}

.list-group {
  margin-left: -11px;
}

.menuTitle {
  margin-left: 5px;
}

.sidebar a {
  display: block;
  width: 100%; /* Ensure the link takes up the full width */
  padding: 0.5rem 0;
  color: #343a40;
  text-decoration: none;
  margin-bottom: 15px;
}

.sidebar a:hover {
  background-color: #e9ecef;
  color: #343a40;
}
