.credit-card{
    background-color: rgb(49 76 163);
    color: white;
    display: flex;
    border-radius: 25px;
    gap: 33px;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 30%;
    max-height: 40%;
}

.card-info{
    display: flex;
}

.card-top{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 87%;
    gap:29px;
}

.card-balance{
    margin-bottom: 0px;
}

.card-holder{
    width:30px;
    margin-right: 40%;
}

.card-validity{
    width:30px;
}

.card-bottom{
    width: 100%;
    background-image: linear-gradient(180deg ,#ffffff26,#ffffff26);
}

.text-xs{
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 5px;
}

.text-silver{
    color: silver;
    font-weight: 400;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0;
}

.text{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0;
}

.text-number{
    font-size: 1.25rem;
}

.card-number{
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
}