.dashboard {
  padding: 20px;
}

.my-card-section {
  margin-bottom: 20px;
}

.my-card-header, .see-all-btn, .recent-transaction-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-cards {
  display: flex;
  padding: 5px;
  overflow: overlay;
}

.card {
  margin: 10px;
}

.see-all {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
