.transaction-card {
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 87%;
  padding: 16px;
  width: 300px;
  background-color: #fff;
}

.transaction {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.icon {
  font-size: 24px;
  margin-right: 12px;
}

.details {
  flex-grow: 1;
}

.description {
  font-weight: bold;
}

.date {
  color: #888;
}

.amount {
  font-weight: bold;
}

.amount.negative {
  color: red;
}

.amount.positive {
  color: orange;
}
